.background-hero-image {
  background-image: url("../../assets/Background.jpg");
  height: 26.3rem;
}

main {
   background: rgb(255, 255, 255);
}

main h3 {
  padding: 1rem 1rem 0 1rem;
  font-size: x-large;
}

.detail {
  margin-top: 1rem;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 5rem;
  color: black;
}

.detail > div {
  /* box-shadow: 0px 0px 2px black; */
  width: 100%;
  border-radius: 6px;
  padding: 1rem;
}

.profile-infor {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 1.8rem;
  /* border: 1px solid black; */
  column-gap: 2.8rem;
}

.bold {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: rgba(0, 128, 0, 0.801);
  padding: 0.3em 0.8em;
}

.profile-infor > .image-profile {
  align-self: baseline;
}

.image-profile {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50px;
  box-shadow: 0px 0px 6px blue;
}


.user-infor {
  display: flex;
  flex-direction: column;
  row-gap: 0.1em;
}

.user-infor :nth-child(1) {
  font-weight: 500;
}

.user-infor :nth-child(2) {
  font-size: x-small;
  margin: 0.6em 0 0.8rem 0;
}

.user-infor :nth-child(3) {
  margin-bottom: 0.6rem;
}

.user-infor :nth-child(4),
.user-infor :nth-child(5) {
  font-size: small;
}

.user-infor :nth-child(4) {
  margin-bottom: 0.6rem;
}

.user-infor > button {
  font-size: x-small;
  margin-top: 2rem;
}

/* Progress bar */

.progress-head {
  margin-bottom: 0.8rem;
  font-weight: 500;
}

.progress {
  width: 100%;
  box-shadow: 0px 0px 1px black;
  border-radius: 50px;
}

.blue-color {
  width: 8%;
  height: 0.5rem;
  border-radius: inherit;
  background: blue;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-bar-details {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 0.8rem;
  margin-top: 1rem;
}

.progress-bar-details > .progress-bar-description {
  align-self: baseline;
  font-size: small;
}

.progress-bar-description :nth-child(1) {
  margin-bottom: 0.5em;
  font-weight: 500;
}

.progress-bar-description :nth-child(3) {
  align-self: last baseline;
  margin-top: 2.8rem;
}

.view-full-details {
  font-size: x-small;
}

.progress-bar-img {
  width: 13rem;
  max-width: 100%;
}

.progress-bar-img > img {
  max-width: inherit;
  width: inherit;
  
} 


/* MEDIA QUERY */
@media (width < 450px){
  
.detail {
  margin-top: 0;
  height: fit-content;
  border-radius: 0;
  padding: 0;
  display: block;
  padding: 0.2em 0.6em;
}


.detail > div {
  padding: 1rem;
  box-shadow: 0px 0px 2px black;
  margin: 0.9em 0;
}

.background-hero-image {
  background-image: url("");
}

main h3{
  font-size: large;
}

.progress-bar-details {
  display: block;
  margin-top: 1.8rem;
}

.profile-dynamic {
  margin-top: 1.5rem;
}

.progress-bar-img {
  width: 22rem;
  max-width: 100%;
}

.progress-bar-img > img {
  max-width: inherit;
  width: inherit;
  
} 

.progress-bar-description :nth-child(3) {
  margin-top: 0.8rem;
}

.profile-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-infor > div {
  width: inherit;
  text-align: center;
}

.image-profile {
  margin: 0.3em 0;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  text-align: left;
}
} 