html {
   font-family: "Poppins", sans-serif;
}

body {
  /* background: whitesmoke; */
  color: rgba(0, 0, 0, 0.687);
  min-height: 100dvh;
}

.card-round-box{
   background: var( --white-back-color);
    padding: var( --padding-both);
    border-radius: var( --border-radius);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  row-gap: 0.3rem;
}

