.spiner {
    width: 1.3rem;
    height: 1.3rem;
    border:2px solid gray;
    border-bottom: 2px solid blue;
    border-radius: 50px;
    animation: rotor 700ms linear 500ms infinite normal ;
    
}

@keyframes rotor {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}